/*=== reset Start ===*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: "SimSun ", Arial;
	line-height: 170%;
	font-size: 14px;
	color: #333;
	background: #fff;
}

a,a:visited {
	color: #3366cc;
	text-decoration: underline;
}

a:hover {
	color: #EE9100;
	text-decoration: underline;
}

a img,img {
	border: 0;
}

ul,li,input {
	list-style: none;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

i,em {
	font-style: normal;
}

input {
	border: none
}

.head,.main {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

table {
	border-collapse: collapse;
}

table td {
	padding: 5px
}

table input {
	border: 1px solid #bbb;
	width: 201px;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	margin-right: 8px;
	margin-bottom: 2px;
}

table select {
	width: 202px;
	height: 24px
}

.error {
	font-weight:bold;
	color: #fe0000
}

.blue,.blue a {
	color: #3366cc
}

.gray {
	color: #9d9d9d;
	font-size: 12px
}

.remind {
	color: #fe0000
}

.remindsm {
	color: #fe0000;
	font-size: 12px;
	font-weight: normal
}

.remindjd {
	color: #fe0000;
	font-size: 14px;
	font-weight: bold
}

.txcc {
	color: #fe0000;
	padding-left: 22px;
	background: url(../images/ico.png) no-repeat 0 0
}

.tips {
	background: #f6f6f6;
	width: 739px;
	margin: 20px auto;
	border: 1px solid #ededed;
	padding: 7px 13px;
	font-size: 12px;
	color: #696969;
	line-height: 18px
}

.tips .ul-tip {
	padding-left: 25px;
	margin: 10px auto
}

.checkbox {
	width: 18px;
}
/*=====clear Start=====*/
html body .clear,html body div.clear,html body span.clear,html body li.clear,html body dd.clear
	{
	float: none;
	display: block;
	clear: both;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 0;
	line-height: 0;
	font-size: 0;
	list-style: none;
	overflow: hidden;
	visibility: hidden;
	background: none;
}
/*=====clear End=====*/

/*=====png in ie6 Start=====*/
* html .png {
	position: relative;
	behavior: expression((   this.runtimeStyle.behavior =   "none")&&(this.pngSet?this.pngSet=true:(this.nodeName==
		
		 "IMG"&&   this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage=
		
		 "none", this.runtimeStyle.filter=   "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+
		
		 encodeURI(this.src)+   "', sizingMethod='image')", this.src=   encodeURI("http://res.nie.163.com/comm/blank.gif")
		):(this.origBg=this.origBg?    this.origBg:this.currentStyle.backgroundImage.toString().replace('url("', '').replace('")', ''),
		this.runtimeStyle.filter=   "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+
		
		 encodeURI(this.origBg)+   "', sizingMethod='crop')",
		this.runtimeStyle.backgroundImage=   "none" ) ), this.pngSet=true ) );
}
/*=====png in ie6 End=====*/

/*=== layout Start ===*/
.wraper {
	max-width: 1800px;
	min-width: 1000px;
	_width: expression((   document.documentElement.clientWidth >   1800 || 
		 document.body.clientWidth >   1800)?"1800px":(document.documentElement.clientWidth<1000||document.body.clientWidth<1000
		)?"1000px":"100%" );
	margin: 0 auto;
}

.footer {
	width: 960px;
	margin: 25px auto 0 auto;
	text-align: center;
	color: #959595;
	padding-top: 20px;
	padding-bottom: 20px;
	background: url(../images/foot-bg.jpg) no-repeat center top
}

.footer .foot-tab {
	width: 554px;
	margin: 0 auto
}

.footer a,.footer a:visited {
	color: #666666;
	margin-left: 5px;
}

/*=== layout End===*/
.wraper-0 {
	background: url(../images/bg.jpg) repeat-x 50% 0
}

.head,.main {
	width: 960px;
	margin: 0 auto
}

.head {
	height: 244px;
	background: url(../images/ban.jpg) no-repeat 0 0;
	margin-bottom: 30px;
}

.main {
	width: 958px;
	overflow: hidden;
	border: 1px solid #CFDAE1
}

.meta-home {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 120px;
	height: 65px;
	float: left;
	overflow: hidden;
	text-indent: -9999px;
}

.top-meta {
	position: absolute;
	top: 10px;
	right: 0;
	height: 26px;
	color: #3366cc;
	font-size: 12px;
}

.top-meta a,.top-meta a:visited {
	color: #3366cc;
	width: 65px;
	height: 30px;
	margin: 4px 7px 0 4px;
	overflow: hidden;
}

.top-meta a:hover {
	color: #3366cc;
	text-decoration: none
}

.ul-nav {
	position: absolute;
	bottom: 0;
	width: 960px;
	height: 60px;
	background: url(../images/nav.jpg) no-repeat 0 0;
}

.ul-nav li {
	float: left;
	width: 174px;
	margin-left: 4px;
}

.ul-nav li a {
	display: block;
	width: 174px;
	height: 60px;
	text-indent: -999em;
}

.ul-nav .nav1 {
	float: left;
	margin-left: 30px;
}

.ul-nav .nav1 .this,.ul-nav .nav1 a:hover {
	background: url(../images/nav.jpg) no-repeat -30px -60px;
}

.ul-nav .nav2 .this,.ul-nav .nav2 a:hover {
	background: url(../images/nav.jpg) no-repeat -209px -60px;
}


.ul-nav .nav4 .this,.ul-nav .nav4 a:hover {
	background: url(../images/nav.jpg) no-repeat -388px -60px;
}
.ul-nav .nav5 .this,.ul-nav .nav5 a:hover {
	background: url(../images/nav.jpg) no-repeat -565px -60px;
}

.alignright170{text-align:right;width:170px;}
.alignleft577{text-align:left;}

.clearfix:after{clear: both;content: '.';display: block; height: 0;visibility: hidden;}
.clearfix{*zoom:1;}
.xy_table{border-collapse:collapse;font-size:12px;width: 100%;}
.xy_tr td{border-top:1px dashed #CCC;border-bottom:1px dashed #CCC;height:150px;}
.w150{width:211px;}
.w167{width:167px;}
.w245{width:240px;}
#iphoto1, #iphoto2, #iphoto3{width:120px;height:90px;}
.wocaonima{width:119px;}
.message{float: left;padding:5px 0;width:367px;}
.message-box{background-color:#F8F8F8;}
.action{float: left;}
.action-img {display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.action p{font-size:12px;line-height:24px;padding:0;margin:0;}
.more{display: block;text-align: left;}
.wocao2{width:300px;}.username{display:inline-block;margin-right:10px;width:200px;}.h20{height:20px;}